@charset "UTF-8";

body {
	background-color: #333;
	color:#B2B39A;
	font-family:  Helvetica, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}

main {
	padding: 100px 0 0 200px;
}

h1 {
	font-size: 24px;
}

a {
	color:#B2B39A;
  text-decoration: none;
}
